@charaset "utf-8";

body
{
	width: 800px;
	margin: auto;
	text-align: center;
}

#title
{
	margin: auto;
	border: solid 1px black;
}

#main
{
	display: none;
	border: solid 1px black;
}

#board
{
	margin: auto;
	margin-top: 10px;
}

form
{
	width: 480px;
	margin: auto;
}

button,input[type="button"]
{
	background-color: white;
	border: solid black 3px;
	border-radius: 10px;
}

button:hover,input[type="button"]:hover
{
	color: white;
	background-color: black;
}

input[name="pname"]
{
	width: 250px;
}

#result , #alertpname , #alertlevel , #alertporder
{
	display: none;
	color: #FF0000;
}
