@charaset "utf-8";

#title
{
	margin:auto;
	border:solid 1px black;
}

#main
{
	display: none;
}

#board
{
	width: 600px;
	height: 600px;
	background-color: forestgreen;
	margin-left: auto;
	margin-right: auto;
}

form{
	width:480px;
	height:200px;
	margin:auto;
}

.dialogbox{
	width:800px;
	height:500px;
	margin:auto;
	border:solid 1px black;
}
