@charaset "utf-8";

body
{
	width:800px;
	margin:auto;
	text-align:center;
}

#title
{
	margin:auto;
	border:solid 1px black;
}

#main
{
	display: none;
	border:solid 1px black;
}

#board
{
	width: 600px;
	height: 600px;
	background-color: forestgreen;
	margin:auto;
	margin-top:10px;
}

form{
	width:480px;
	height:200px;
	margin:auto;
}

button,input[type="button"] {
	background-color: white;
	border:solid black 3px;
	border-radius:10px;
}

button:hover,input[type="button"]:hover{
	color:white;
	background-color:black;
}
