<<<<<<< HEAD
div#title
{
	margin:auto;
}

div#main
{
	display: none;
}

div#board
{
	width: 600px;
	height: 600px;
	background-color: forestgreen;
	margin-left: auto;
	margin-right: auto;
}

.center
{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
=======
@charaset "utf-8";

#title{
	border:solid 1px black;
}

form{
	width:480px;
	height:200px;
	margin:auto;
}

.dialogbox{
	width:800px;
	height:500px;
	margin:auto;
	border:solid 1px black;
>>>>>>> FETCH_HEAD
}
